@model IEnumerable<SchoolApp.Web.Models.TeacherViewModel>

@{
    ViewData["Title"] = "Преподаватели";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Редактирование данных о преподавателе</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span id="input-id" class="input-group-text">Id</span>
                            </div>
                            <input type="text" class="form-control" disabled id="Id" aria-describedby="input-id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">ФИО</span>
                            </div>
                            <input required type="text" class="form-control" id="Surname" />
                            <input required type="text" class="form-control" id="Name" />
                            <input required type="text" class="form-control" id="SecondName" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span id="input-post" class="input-group-text">Должность</span>
                            </div>
                            <select class="browser-default custom-select" id="Post" aria-describedby="input-post">
                                <option value="Директор">Директор</option>
                                <option value="Завуч">Завуч</option>
                                <option value="Учитель">Учитель</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span id="input-subject" class="input-group-text">Предмет</span>
                            </div>
                            <input type="hidden" id="SubjectId">
                            <select class="browser-default custom-select" id="Subject" aria-describedby="input-subject">
                                <option></option>
                                @foreach(var subj in ViewBag?.SubjectList)
                                {
                                    <option value="@subj.Id">@subj.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" onclick="EditTeacher()" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateNewModal" tabindex="-1" role="dialog" aria-labelledby="CreateNewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateNewModalLabel">Создание новой записи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">ФИО</span>
                            </div>
                            <input required type="text" class="form-control" id="NewSurname" />
                            <input required type="text" class="form-control" id="NewName" />
                            <input required type="text" class="form-control" id="NewSecondName" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span id="input-newpost" class="input-group-text">Должность</span>
                            </div>
                            <select class="browser-default custom-select" id="NewPost" aria-describedby="input-newpost">
                                <option value="Директор">Директор</option>
                                <option value="Завуч">Завуч</option>
                                <option value="Учитель">Учитель</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span id="input-newsubject" class="input-group-text">Предмет</span>
                            </div>
                            <input type="hidden" id="SubjectId">
                            <select class="browser-default custom-select" id="NewSubject" aria-describedby="input-newsubject">
                                <option></option>
                                @foreach (var subj in ViewBag?.SubjectList)
                                {
                                    <option value="@subj.Id">@subj.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" onclick=CreateTeacher() class="btn btn-primary">Создать запись</button>
            </div>
        </div>
    </div>
</div>


<style>
    .row:hover{
        background-color: rgba(208, 203, 203, 0.40);
    }
</style>


<div class="row justify-content-center no-gutters" style="padding-top:.25em; padding-bottom:.25em; border-top: 1px solid lightgrey; font-weight:bold">
    <div class="col-12 col-sm-1">#</div>
    <div class="offset-1 col-11 offset-sm-0 col-sm-6 col-md-3 col-lg-2 col-xl-2 ">Фамилия</div>
    <div class="offset-1 col-11 offset-sm-0 col-sm-5 col-md-3 col-lg-2 col-xl-1 ">Имя</div>
    <div class="offset-1 col-11 offset-sm-1 col-sm-6 offset-md-0 col-md-3 col-lg-2 col-xl-2">Отчество</div>
    <div class="offset-1 col-11 offset-sm-0 col-sm-5 offset-md-2 col-md-3 offset-lg-0 col-lg-2 col-xl-2">Должность</div>
    <div class="offset-1 col-11 offset-sm-1 col-sm-6 offset-md-0 col-md-3 col-lg-2 col-xl-2">Предмет</div>
    <div class="offset-1 col-11 offset-sm-0 col-sm-5 col-md-4 offset-lg-9 col-lg-2 offset-xl-0">
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#CreateNewModal">Создать запись</button>
    </div>


</div>
    @foreach (var item in Model)
    {
        <div class="row justify-content-center no-gutters" style="padding-top:.25em; padding-bottom:.25em; border-top: 1px solid lightgrey" >

            <div class="col-12 col-sm-1" style="font-weight:bold" onclick="showModal('@item.Id', '@item.Surname', '@item.Name', '@item.SecondName', '@item.Post', '@item.SubjectId')">
                @Html.DisplayFor(modelItem => item.Id)
            </div>
            <div class="offset-1 col-11 offset-sm-0 col-sm-6 col-md-3 col-lg-2 col-xl-2" onclick="showModal('@item.Id', '@item.Surname', '@item.Name', '@item.SecondName', '@item.Post', '@item.SubjectId')">
                @Html.DisplayFor(modelItem => item.Surname)
            </div>
            <div class="offset-1 col-11 offset-sm-0 col-sm-5 col-md-3 col-lg-2 col-xl-1" onclick="showModal('@item.Id', '@item.Surname', '@item.Name', '@item.SecondName', '@item.Post', '@item.SubjectId')">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="offset-1 col-11 offset-sm-1 col-sm-6 offset-md-0 col-md-3 col-lg-2 col-xl-2" onclick="showModal('@item.Id', '@item.Surname', '@item.Name', '@item.SecondName', '@item.Post', '@item.SubjectId')">
                @Html.DisplayFor(modelItem => item.SecondName)
            </div>
            <div class="offset-1 col-11 offset-sm-0 col-sm-5 offset-md-2 col-md-3 offset-lg-0 col-lg-2 col-xl-2" onclick="showModal('@item.Id', '@item.Surname', '@item.Name', '@item.SecondName', '@item.Post', '@item.SubjectId')">
                @Html.DisplayFor(modelItem => item.Post)
            </div>
            <div class="offset-1 col-11 offset-sm-1 col-sm-6 offset-md-0 col-md-3 col-lg-2 col-xl-2" onclick="showModal('@item.Id', '@item.Surname', '@item.Name', '@item.SecondName', '@item.Post', '@item.SubjectId')">
                @item.SubjectName?.Name
            </div>
            <div class="offset-1 col-11 offset-sm-0 col-sm-5 col-md-4 offset-lg-9 col-lg-2 offset-xl-0" onclick=RemoveTeacher(@item.Id)>
                <button type="button"  class="btn btn-outline-danger">Удалить запись</button>
            </div>
        </div>

    }





<script type="text/javascript">
    function showModal(Id, Surname, Name, SecondName, Post, SubjectId) {
        $('#exampleModal').modal('show', function () {
            
            var modal = $(this)
            modal.find('.modal-body #Id').val(Id)
            modal.find('.modal-body #Surname').val(Surname)
            modal.find('.modal-body #Name').val(Name)
            modal.find('.modal-body #SecondName').val(SecondName)
            modal.find('.modal-body #Post').val(Post)
            modal.find('.modal-body #Subject').val(SubjectId)
            

        })
        
    }
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var itemid = button.data('itemid')
        var itemsurname = button.data('itemsurname')
        var itemname = button.data('itemname')
        var itemsecondname = button.data('itemsecondname')
        var itemgender = button.data('itemgender')
        var itembirthday = button.data('itembirthday')
        var itemgradepropid = button.data('itemgradepropid')
        // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        if (event.namespace === 'bs.modal') {
            modal.find('.modal-body #Id').val(itemid)
            modal.find('.modal-body #Surname').val(itemsurname)
            modal.find('.modal-body #Name').val(itemname)
            modal.find('.modal-body #SecondName').val(itemsecondname)
            modal.find('.modal-body #Gender').val(itemgender)
            modal.find('.modal-body #Birthday').val(itembirthday)
            modal.find('.modal-body #GradePropId').val(itemgradepropid)
            date=itembirthday
        }

    })



    function EditTeacher() {
        var Id = document.getElementById("Id").value;
        var Surname = document.getElementById("Surname").value;
        var Name = document.getElementById("Name").value;
        var SecondName = document.getElementById("SecondName").value;
        var Post = document.getElementById("Post").value;
        var SubjectId = document.getElementById("Subject").value;
        var teacher = { Id, Surname, Name, SecondName, Post, SubjectId}
        $.ajax({
            url: '/api/teacher/' + Id,
            type: 'PUT',
            data: JSON.stringify(teacher),
            contentType: "application/json; charset=utf-8",
            error: function () { alert("Что-то пошло не так") },
            success: function () { location.reload(true) }
        });
    }
    function CreateTeacher() {
        var Surname = document.getElementById("NewSurname").value;
        var Name = document.getElementById("NewName").value;
        var SecondName = document.getElementById("NewSecondName").value;
        var Post = document.getElementById("NewPost").value;
        var SubjectId = document.getElementById("NewSubject").value;
        var Id
        var subject = { Id, Surname, Name, SecondName, Post, SubjectId }
        $.ajax({
            url: '/api/teacher/',
            type: 'POST',
            data: JSON.stringify(subject),
            contentType: "application/json; charset=utf-8",
            error: function () { alert("Что-то пошло не так") },
            success: function () { location.reload(true) }
        })
    }

    function RemoveTeacher(Id) {
        $.ajax({
            url: '/api/teacher/' + Id,
            type: 'DELETE',
            data: JSON.stringify(Id),
            contentType: "application/json; charset=utf-8",
            error: function () { alert("Что-то пошло не так") },
            success: function () { location.reload(true) }
        });
    }
</script>
